body {
    background: linear-gradient(rgba(0, 0, 0, 0.6)), url("/assets/images/avenger-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 42%;
    height: 100vh;
    padding-top: 1.5rem;
}

.card {
    height: 70vh;
    width: 384px;
    background-color: white;
    border-radius: 6px;
    justify-content: space-between;
    padding: 2rem;

    .title {
        h2 {
            color: #121212;
        }
        p {
            color: #A0A3BD;
            font-size: .875rem;
        }
    }
}

form {
    gap: 8px;

    label {
        font-size: .875rem;
        font-weight: 600;
    }

    input {
        margin-top: .5rem;
        color: var(--gray-tertiary);
        background-color: #FCFDFE;
        border: 1px solid #DEDEDE;
        height: 2.5rem;
        padding-left: 12px;
    }

    a {
        align-self: flex-end;
        text-decoration: none;
        color: var(--blue);
        font-size: .875rem;
    }

    button {
        background-color: #1D4ED8;
        border: none;
        border-radius: 2px;
        padding: .875rem 0;
        color: #F7F7FC;
        font-weight: 700;
    }
}

button.font-primary {
    font-size: 12px;
    letter-spacing: 0.45px;
}

#or {
    justify-content: center;
    gap: 12px;
    font-size: 12px;
    color: #AAAAAA;

    .x-line {
        text-decoration: underline;
    }
}

#social {
    justify-content: space-between;

    button {
        border: none;
        gap: 12px;
        padding: 12px;
        background-color: white;
        border-radius: 4px;
        box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
        width: 8rem;
        justify-content: center;

        p {
            color: #A0A3BD;
            font-weight: 500;
        }
    }

    img {
        width: 20px;
    }
}

@media screen and (max-width: 768px) {
    body {
        padding-top: .75rem;

        main {
            .card {
                height: 100%;
                width: 320px;
                padding: 1rem;
            }
        }
    }
}