main {
    padding-inline: 0;
    gap: 3rem;
}

section {
    padding-inline: 8rem;
}

section#hero-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.6)), url("/assets/images/avenger-bg.png");
    background-size: cover;
    background-position-y: 56%;
    width: 100vw;
    height: 56vh;
    gap: 1rem;
    position: relative;

    h4,
    h1 {
        color: white;
    }

    h1 {
        max-width: 24ch;
        font-weight: 500;
        /* line-height: 1.6; */
    }

    #pg-num {
        align-self: center;
        gap: .875rem;
        position: absolute;
        bottom: 32px;

        .pg {
            border-radius: 50%;
            width: 8px;
            height: 8px;
            background-color: white;
        }

        .pg:hover {
            cursor: pointer;
            border-radius: 20px;
            width: 48px;
            background-color: var(--blue);
            transition: all cubic-bezier(0.075, 0.82, 0.165, 1);
        }
    }
}

section#event {
    gap: 1.25rem;

    form input {
        border-radius: 2px;
        border: 1px solid var(--gray-tertiary);
        height: 2.5rem;
        color: #A0A3BD;
        background-color: #FCFDFE;
        padding-left: 1rem;
        margin-top: .625rem;
    }

    #filter {
        button {
            background-color: white;
            margin-top: .625rem;
            color: #4E4B66;
            border: none;
            border-radius: 8px;
            padding: .5rem 1rem;
        }
        button:first-of-type {
            background-color: var(--blue);
            color: white;
        }

        button:hover {
            background-color: var(--blue);
            color: white;
            cursor: pointer;
        }
    }
}

section#watch-today {
    gap: 2rem;

    .movies-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1.25rem;

        .thumbnail {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: .75rem;

            img {
                border-radius: 6px;
                width: 100%;
                height: 100%;
            }

            h4 {
                color: #14142B;
            }

            .genre {
                display: flex;
                flex-direction: row;
                gap: 1rem;

                p {
                    background-color: #A0A3BD1A;
                    color: var(--gray-tertiary);
                    border-radius: 28px;
                    font-size: .875rem;
                    padding: .25rem .75rem;
                }
            }
        }

    }

    #pg-nav {
        gap: 12px;

        button {
            width: 32px;
            height: 32px;
            border: none;
            border-radius: 50%;
            background-color: var(--gray-50);
            color: var(--gray-tertiary);
            font-size: 14px;

            &:hover {
                background-color: var(--blue);
                color: white;
                cursor: pointer;
            }

            i {
                font-size: 20px;
            }
        }

        button:nth-child(1) {
            background-color: var(--blue);
            color: white;
        }
    }
}

section#newsletter {
    width: 80%;
    align-self: center;
    border-radius: 12px;
    gap: 2rem;
    padding-block: 5rem;
    position: relative;
    overflow: hidden;

    h1 {
        font-weight: 400;
        color: white;
    }

    form {
        gap: 8px;

        input {
            border-radius: 4px;
            border: none;
            padding-left: 1.25rem;
            padding-block: 1rem;
            background-color: transparent;
            border: 1px solid white;
            color: white;
            font-size: .875rem;
        }

        button {
            color: var(--blue);
            font-weight: 500;
            font-size: .875rem;
            border-radius: 8px;
            border: none;
            background-color: white;
            padding-inline: 2.25rem;
        }
    }

    .circle {
        position: absolute;
        transform: translate(530px, 152px);
        width: 144px;
        height: 144px;
        border-radius: 50%;
        background-color: transparent;
        border: 4px solid white;
    }
}

@media screen and (max-width: 768px) {
    section {
        padding-inline: 1.5rem;
    }

    section#watch-today {
        .movies-grid {
            grid-template-columns: repeat(2, 1fr);
            .thumbnail {
                img {
                    min-width: 240px;
                }
            }
        }
    }

    section#newsletter {
        align-self: center;
        text-align: center;
        width: 95%;
        padding-inline: 2.25rem;

        form {
            flex-direction: column;
            width: 100%;

            button {
                padding-block: 1rem;
            }
        }
    }
}